<nav class="menu">
    <input type="text" class="head-search" value="" placeholder="tìm kiếm">
    <ul class="menu-inner">
        <li><a href="" title="">Trang chủ</a></li>
        <li><a href="" title="">Giới Thiệu</a></li>
        <li><a href="" title="">Liên Hệ</a></li>
        <li><a href="" title="">Sách</a></li>
    </ul>
    <div class="cb"></div>
</nav>