<header id="header" class="head-top">
    <div class="head-phone">
        <span>(08). 12345678 </span>
    </div>
    <div class="login">
        <a href="@Url.Action("DangNhap","DangKy")" class="dangky">Đăng Nhập</a>
        <a href="@Url.Action("DangKy","DangKy")" class="dangnhap">Đăng ký</a>
    </div>
    <div class="cb"></div>
</header>