<div class="content-left">
    <h2>Nhã Xuất Bản</h2>
    <ul class="nxb">
        <li><a href="" title="">NXB Khoa Học</a></li>
        <li><a href="" title="">NXB Tuổi Trẻ</a></li>
        <li><a href="" title="">NXB Xã hội</a></li>
        <li><a href="" title="">NXB Thanh Niên</a></li>
        <li><a href="" title="">NXB Sự Thật</a></li>
        <li><a href="" title="">NXB Kim Đồng</a></li>
    </ul>
    <h3><a href="" title="">Xem Thêm</a></h3>
</div>