<div class="slider">
    <div class="slider-left">
        <h2>Sách Mới  Nhất</h2>
        <div class="item0 item">
            <img src="" alt="anh 0" class="sl-img">
            <div class="des">Sach chinh thám và các loại sách hay</div>
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
        <div class="item1 item">
            <img src="" alt="anh 0" class="sl-img">
            <div class="des">Sach chinh thám và các loại sách hay</div>
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
        <div class="item2 item">
            <img src="" alt="anh 0" class="sl-img">
            <div class="des">Sach chinh thám và các loại sách hay</div>
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
        <h3>Sách mới nhất</h3>
    </div>
    <div class="slider-right">
        <img src="/Content/Display/Images/365ngayye.jpg" alt="" class="img-logo">
    </div>
    <div class="cb"></div>

</div>